@import '../../variables.scss';

.mobile-menu {
  display: none;
  position: relative;
  right: 152px;
  bottom: 12px;
  height: 40px;
  padding-top: 10px;
  background: $backgroundColor;

  &__logo {
    padding: 2px 0 0 16px;
  }
  &__list {
    position: relative;
    top: 3px;
    width: 292px;
    height: 246px;
    padding: 26px 16px;
    background: $backgroundColor;
    border-top: 0.3px solid rgba($color: #000000, $alpha: 0.3);
  }

  &__item {
    height: 43px;
  }
}

.mobile-menu.show {
  display: block;
}

.closeMenu {
  position: absolute;
  top: 20px;
  right: 15px;

  &__inner {
    width: 20px;
    height: 3px;
    background: darkblue;
  }

  &__inner--top {
    transform: rotate(45deg);
  }

  &__inner--bottom {
    position: relative;
    top: -3px;
    transform: rotate(-45deg);
  }
}

@media (min-width: 380px) and (max-width: 780px) {
  .mobile-menu {
     right: 250px;
     bottom: 10px;
     padding-top: 20px;

     &__logo {
       position: relative;
       bottom: 10px;
     }

     &__list {
        width: 385px;
     }
  }
}
