@import '../../variables.scss';

.mobile-menu {
  display: none;
  position: relative;
  right: 296px;
  bottom: 20px;
  height: 40px;
  padding-top: 6px;
  background: $backgroundColor;

  &__logo {
    padding: 10px 0 20px 16px;
    background-color: #fff;
  }

  &__list {
    position: relative;
    width: 292px;
    height: 246px;
    padding: 26px 16px;
    background: $backgroundColor;
    border-top: 0.3px solid rgba($color: #000000, $alpha: 0.3);
  }

  &__item {
    height: 43px;
  }
}

.mobile-menu.show {
  display: block;
}

.closeMenu {
  position: absolute;
  top: 30px;
  right: 15px;

  &__inner {
    width: 20px;
    height: 3px;
    background: darkblue;
  }

  &__inner--top {
    transform: rotate(45deg);
  }

  &__inner--bottom {
    position: relative;
    top: -3px;
    transform: rotate(-45deg);
  }
}

@media (max-width: 380px) {
  .mobile-menu {
     right: 150px;

     &__logo {
       position: relative;
       bottom: 0px;
       padding-bottom: 9px;
     }
  }
}
