@import '../mixins.scss';

.about {
  position: relative;
  top: 60px;
  max-width: 1024px;
  height: 600px;
  margin: auto;
  padding: 108px 0 0 30px;
  background: url('../assets/image/banner-photo.jpg') no-repeat;
  background-size: cover;
}

.content {
  width: 530px;
  color: #fff;

  &__heading {
    @include heading-1-desktop;
    text-transform: uppercase;
    font-weight: 400;
    margin-bottom: 24px;
  }

  &__text {
    line-height: 24px;
    margin-bottom: 34px;
  }

  &__button {
    width: 210px;
    height: 38px;
  }
}

@media (max-width: 770px) {
  .about {
    height: 500px;
    padding: 58px 0 0 30px;
  }
  .content {
    width: 450px;

    &__heading {
      max-width: 420px;
      @include heading-1-tablet;
      margin-bottom: 28px;
    }
  }
}

@media (min-width: 380px) and (max-width: 500px) {
  .content {
    width: 350px;
    white-space: nowrap;

    &__heading,
    &__text {
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}

@media (max-width: 380px) {
  .about {
    height: 400px;
    top: 40px;
    padding: 70px 0 0 0;
    background: url('../assets/image/banner-photo-min.jpg') no-repeat;
    background-size: 700px 400px;
    background-position: top;
  }
  .content {
    max-width: 360px;
    text-align: center;

    &__heading {
      @include heading-1-mobile;
      padding: 0 20px;
      margin-bottom: 18px;
    }

    &__text {
      height: 72px;
      padding: 0 10px;
      margin-bottom: 24px;
    }

    &__text--hidden {
      display: none;
    }
  }
}
