.footer {
  max-width: 1024px;
  margin: auto;
  padding-top: 18px;
  padding-bottom: 10px;
  text-align: center;
  position: relative;
  top: 60px;
  border-top: 0.5px solid rgba($color: #000000, $alpha: 0.3);
}
