@import '../variables.scss';
@import '../mixins.scss';

.persons {
  position: relative;
  top: 60px;
  padding: 150px 30px 0 30px;
  background-color: $backgroundColor2;

  &__heading {
    @include heading-1-desktop;
    text-align: center;
    margin-bottom: 20px;
  }

  &__underHeading {
    text-align: center;
    margin-bottom: 30px;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 30px;
    border: 0.7px solid royalblue;
  }

  &__item {
    border: 0.7px solid royalblue;
    width: 100px;
    height: 200px;
  }
}


