@import '../../mixins.scss';

.registration {
  position: relative;
  top: 60px;
  padding: 140px 0 0 0;
  text-align: center;

  &__heading {
    @include heading-1-desktop;
    margin-bottom: 18px;
  }

  &__underHeading {
    width: 450px;
    margin: auto;
    line-height: 24px;
    margin-bottom: 24px;
  }

  &__form {
    width: 470px;
    margin: auto;
    text-align: left;
  }
}

.form {

  &__label {
    display: block;
    padding-bottom: 10px;
  }

  &__inputName,
  &__inputEmail {
    margin-bottom: 18px;
  }

  &__phonePrompt {
    font-size: 12px;
  }

  &__file-name {
    text-align: left;
    width: 300px;
    //margin-right: 100px;
  }
}
