@import '../../mixins.scss';

.registration {
  position: relative;
  top: 60px;
  padding: 150px 0 164px 0;
  text-align: center;

  &__heading {
    @include heading-1-desktop;
    margin-bottom: 15px;
  }

  &__underHeading {
    width: 450px;
    margin: auto;
    line-height: 24px;
    margin-bottom: 26px;
  }

  &__form {
    width: 470px;
    margin: auto;
    text-align: left;
  }
}

@media (max-width: 768px) {
  .registration {
    padding: 105px 0 116px 10px;

    &__heading {
      @include heading-1-tablet;
      margin-bottom: 18px;
    }
  }
}

@media (max-width: 380px) {
  .registration {
    max-width: 375px;
    padding-left: 0;

    &__underHeading {
      max-width: 360px;
    }
  }
}
