@import '../../mixins.scss';

.form {

  &__label {
    display: block;
    padding-bottom: 5px;
  }

  &__inputName,
  &__inputEmail,
  &__inputPhone,
  &__fileInput {
    width: 100%;
    margin-bottom: 15px;
  }

  &__phonePrompt {
    font-size: 12px;
  }

  &__file-name {
    text-align: left;
    width: 300px;
  }
}
